{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}注册{% endblock %}
{% block nav_home_active %}active{% endblock %}

{% block conetent %}
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h3 class="panel-title">注册</h3>
            </div>
          </div>
          {% if not user.is_authenticated %}
            <div class="panel-body">
              <form action="" method="post">
                {% csrf_token %}
                {# 第一种方法 #}
                {#{{ login_form }}#}
                {# 第二种方法  这两种的区别： 因为官方会默认在label后面加上冒号。 第二种方法可以再次进行自定义 #}
                {% for field in reg_form %}
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
                  <p class="text-danger">{{ field.errors.as_text }}</p>
                {% endfor %}
                <span class="text-danger">{{ reg_form.non_field_errors }}</span>{#non_field_errors 用于返回用户名或密码错误字样#}
                <div class="clearfix"></div>
                <button type="button" id="send_code" class="btn btn-primary pull-left">发送验证码</button>
                <input type="submit" value="注册" class="btn btn-primary pull-right">
              </form>
            </div>
          {% else %}
            <span>已登录，跳转到首页...</span>
            <script type="text/javascript">
              window.location.href = '/';
            </script>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script_extends %}
  <script type="text/javascript">
    $("#send_code").click(function () {
      var email = $("#id_email").val();
      if (email === '') {
        $('#tip').text("* 邮箱不能为空")
        return false
      }
      // 发送验证码
      $.ajax({
        url: "{% url 'send_verification_code' %}",
        type: 'GET',
        data: {email: email,send_for:'register_code'},
        cache: false,
        success: function (data) {
          console.log(data);
          if (data['status'] === 'ERROR') {
            alert(data['status'])
          }
        }
      });
      // 把按钮变灰
      $(this).addClass('disabled');
      $(this).attr('disabled', true);
      // 倒计时
      var time = 60;
      $(this).text(time + 's')
      var interval = setInterval(() => {
        if (time <= 0) {
          clearInterval(interval);
          $(this).removeClass('disabled');
          $(this).attr('disabled', false);
          $(this).text('发送验证码')
          return false
        }
        time--;
        $(this).text(time + 's');
      }, 1000)
    })
  </script>
{% endblock %}